{% extends 'base.html.twig' %}
{% block title %} Episode {% endblock %}


{% block body %}
    <div>


        <ul>

            <a href="{{ path('show_season_by_program', {'programName':episode.season.program.title|lower}) }}">{{ episode.season.description }}</a>
            <a href="{{ path('wild_show_episode', {'id': episode.id}) }}"> {{ episode.id }} {{ episode.title }} {{ episode.synopsis }}</a>
        </ul>
        <img class="align-self-start mr-3" src="{{episode.season.program.poster}}" alt="{{ episode.season.program.title }} poster">
        <div>
            <h1 class="mt-0">{{ episode.season.program.title }}</h1>
            <p>{{ episode.season.program.summary }}</p>
            <p>Categorie : {{ episode.season.program.category.name }}</p>
        </div>
    </div>
    <a href="{{ path('wild_index') }}">
        Retour à l'accueil
    </a>

{% endblock %}
